html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #b1e8ed;
}
body{
    margin: 0;
    overflow: hidden;
}
input{
    display: none;
}
.frame{
    position: relative;
    width: 720px;
    height: 480px;
    border: 12px solid #373a40;
    border-radius: 36px;
    overflow: hidden;
}
.reset{
    position: relative;
    z-index: -1;
    /* margin-top: 100%; */
}
.flex{
    position: absolute;
    display: flex;
    top: 0;
    left: 0px;
    transition: all .35s;
    background-color: #19d3da;
}
input[id="toggle_01"]:checked ~ .frame > .reset > .flex{ left: calc(-0*720px - 0*24px); }
input[id="toggle_02"]:checked ~ .frame > .reset > .flex{ left: calc(-1*720px - 1*24px); }
input[id="toggle_03"]:checked ~ .frame > .reset > .flex{ left: calc(-2*720px - 2*24px); }

input[id="seperate"]:checked ~ .frame > .reset > .flex{ top: 720px; }

.white_space{
    position: relative;
    width: 720px;
    height: 480px;
    margin-right: 24px;
}
.slide{
    position: absolute;
    top : 50%;
    left:50%;
    transform: translate(-50% , -50%);
    width: 540px;
    height: 360px;
    background-color: #b1e8ed;
    color: #373a40;
    border: 12px solid #373a40;
    border-radius: 36px;
    text-align: center;
    line-height: 360px;
    font-family: 'Jua', sans-serif;
    font-size: 4.4rem;
    transition: all .35s;
    /* margin-top: 100%; */
}
input[id="seperate"]:checked ~ .frame > .reset > .flex  .slide{top :720px;}

.button_layout{
    display: flex;
    justify-content: space-between;
    width: 744px;
    margin: 18px 0px;
}
.btn{
    width: 330px;
    height: 72px;
    border: 12px solid #373a40;
    color: #373a40;
    background-color: #ffe5ae;
    border-radius: 36px;
    display: none;
    font-size: 2.6rem;
    text-align: center;
    line-height: 72px;
    font-family: 'Jua', sans-serif;
    font-weight: bold;
}

input[id="toggle_01"]:checked ~ .button_layout > .btn_01{display: block;}
input[id="toggle_01"]:checked ~ .button_layout > .btn_02{display: block;}
input[id="toggle_02"]:checked ~ .button_layout > .btn_03{display: block;}
input[id="toggle_02"]:checked ~ .button_layout > .btn_04{display: block;}
input[id="toggle_03"]:checked ~ .button_layout > .btn_05{display: block;}
input[id="toggle_03"]:checked ~ .button_layout > .btn_06{display: block;}

#sep_btn{
    display: block;
    border: 12px solid #373a40;
    border-radius: 36px;
    margin-bottom: 18px;
    width: 720px;
    height: 72px;
    text-align: center;
    line-height: 96px;
    font-family: 'Jua', sans-serif;
    font-size: 4.4rem;
    color: #373a40;
    background-color: #f5a8a8;
}